.board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.square {
  background: #fff;
  border: 2px solid #333;
  font-size: 2rem;
  font-weight: bold;
  height: 5rem;
  width: 5rem;
  display: flex; /* Make the button a flex container */
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text */
  cursor: pointer;
  transition: background-color 0.3s;
}

.square:hover {
  background-color: #d3d3d3; /* Light gray when hovered */
}

.status {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center; 
}
