.designContent {
  font-family: "Blender Light", serif;
  position: relative; /* Ensure this is positioned relative to its children */
  padding: 20px;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  direction: rtl; 
  min-height: 100vh; 
  background-color: black;  
  color: white;
  z-index: 0; 
}

.hey {
  font-family: "Blender Black", serif;

  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.text, .loginText {
  max-width: 254px; 
  width: 100%; /* Ensure it doesn't exceed the parent's width */
  text-align: center; 
  font-size: 14px;
}

.welcome{
  font-family: "Blender Regular", serif;

  font-size: 16px;
  font-weight: 400;
}

.intro{
  font-family: "Blender Light", serif;

  font-weight: 300;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  gap: 1rem;
  z-index: 1;
}

.loginForm input {
  padding-top: 5px;
  padding-right: 19px;
  padding-bottom: 5px;
  padding-left: 19px;

  font-size: 12px;
  text-align: center;
  border: 2px solid #BF1633; 
  border-radius: 13px; 
  background-color: black; 
  color: white; 
  transition: background-color 0.4s ease; 
  direction: ltr;
}

.loginForm input:focus {
  background-color: white; 
  color: black; 
  outline: none; 
}

.loginForm input::placeholder {
  text-align: center; 
  color: white;
}

.loginForm input.emailInValid {
  background-color: rgba(191, 22, 51, 0.52);
}

.loginForm button{
  padding-top: 4px;
  padding-right: 22px;
  padding-bottom: 4px;
  padding-left: 22px;

  background-color: #BF1633; 
  color: white; 
  border: none; 
  border-radius: 13px; 
  font-size: 12px;

  cursor: pointer; 
  transition: background-color 0.4s ease; 
}

.loginForm button:hover {
  background-color: rgb(135, 17, 17); 
}

.loginForm a{
  color:#BF1633;
  text-decoration: underline;
  cursor: pointer; 
}

.movingShapes {
  position: absolute; /* Positioning within the parent container */
  width: 100%;
  height: 100vh;
  pointer-events: none; /* Prevent the shapes from interfering with clicks */
  overflow: hidden; 
  z-index: -1; 
}

.shape1, .shape2, .shape3, .shape4 ,.shape5, .shape6 {
  position: absolute;
  width: 80px;
  height: 80px;
}

.shape1 {
  top: 10vh;
  left: 20vw;
  animation: moveAndGrow 3s ease-in-out infinite;
}

.shape2{
  top: 50vh;
  left: 10vw;
  animation: moveAndGrow 3s ease-in-out infinite;
}

.shape3{
  top: 80vh;
  left: 15vw;
  animation: moveAndGrow 3s ease-in-out infinite;
}

.shape4{
  top: 80vh;
  left: 70vw;
  animation: moveAndGrow 3s ease-in-out infinite;
}

.shapeonshapecontainer{
  position: relative;
  top: 15%;
  right: -20%; 
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.shape5{
  width: 10rem; 
  height: 10rem;
  animation: moveAndGrow 3s ease-in-out infinite;
}

.shape6{
  width:3rem; 
  height: 3rem;
  animation: moveAndGrowOpposite 3s ease-in-out infinite;
}



@keyframes moveAndGrow {
  0% {
    transform: rotate(0deg) scale(1) ;
  }
  25% {
    transform: rotate(90deg) scale(1.2) ; 
  }
  50% {
    transform: rotate(180deg) scale(1) ; 
  }
  75% {
    transform: rotate(270deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(1) ; 
  }
}

@keyframes moveAndGrowOpposite {
  0% {
    transform: rotate(360deg) scale(1) ;
  }
  25% {
    transform: rotate(270deg) scale(1.2) ; 
  }
  50% {
    transform: rotate(180deg) scale(1) ; 
  }
  75% {
    transform: rotate(90deg) scale(0.8); 
  }
  100% {
    transform: rotate(0deg) scale(1) ;
  }
}