.designContent {
  font-family: 'Assistant', sans-serif;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  direction: rtl;
  color: white;
  padding: 10px; /* Reduce padding */
  position: relative; /* Ensures the shapes stay relative to this container */

}

.hey {
  margin-bottom: 10px; /* Reduce space between text and button */
}

.designContent button {
  background-color: #BF1633;
  max-width: 20rem;
  margin: 10px auto; /* Reduce margin to bring the button closer */
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.designContent button:hover {
  background-color: rgb(135, 17, 17);
}



/* Shapes container */
.shapesContainer {
  position: absolute; /* Positioning within the parent container */
  width: 100%;
  height: 100%;
  pointer-events: none; /* Disable all pointer events for the shapes */

}

/* Shape positioned at the bottom */
.shape1 {
  position: absolute;
  bottom: 1%; /* Pushes the shape slightly below the bottom of the div */
  left: 2%; /* Centers horizontally */
  width: 80px; /* Set the size of the shape */
  height: 80px; /* Set the size of the shape */
  transform: rotate(10deg); /* Rotates the shape by 10 degrees */
}

/* Shape positioned at the bottom */
.shape2 {
  position: absolute;
  bottom: 5%; /* Pushes the shape slightly below the bottom of the div */
  left: 43%; /* Centers horizontally */
  width: 100px; /* Set the size of the shape */
  height: 100px; /* Set the size of the shape */
  transform: rotate(-10deg); /* Rotates the shape by 10 degrees */
}

/* Shape positioned at the bottom */
.shape3 {
  position: absolute;
  bottom: 0%; /* Pushes the shape slightly below the bottom of the div */
  left: 77%; /* Centers horizontally */
  width: 200px; /* Set the size of the shape */
  height: 200px; /* Set the size of the shape */
  transform: rotate(-90deg); /* Rotates the shape by 10 degrees */
}
/* Shape positioned at the bottom */
.shape4 {
  position: absolute;
  bottom: 12%; /* Pushes the shape slightly below the bottom of the div */
  left: 82%; /* Centers horizontally */
  width: 50px; /* Set the size of the shape */
  height: 50px; /* Set the size of the shape */
  transform: rotate(-80deg); /* Rotates the shape by 10 degrees */
}
