.designContent {
  font-family: 'Blender Regular', sans-serif; 
  position: relative;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  direction: rtl;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.hey {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.designContent button {
  padding-top: 4px;
  padding-right: 22px;
  padding-bottom: 4px;
  padding-left: 22px;

  border-radius:13px;
  font-size: 12px;

  background-color: #BF1633;
  color: white;
  border: none;

  cursor: pointer;
  transition: background-color 0.4s ease;
}

.designContent button:hover {
  background-color: rgb(135, 17, 17);
}

/* Shapes container */
.shapesContainer {
  position: absolute; 
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.shape1 {
  position: absolute;
  bottom: 1%;
  left: 2%; 
  width: 20vw; /* Width as a percentage of the viewport width */
  height: 20vh; /* Height as a percentage of the viewport width */
  transform: rotate(10deg);
}


.shape2 {
  position: absolute;
  bottom: 5%; 
  left: 40%; /* Set the left position to 50% of the container */
  width: 20vw; /* Width as a percentage of the viewport width */
  height: 20vh; /* Height as a percentage of the viewport width */
  transform: rotate(-10deg); 
}


.shapeonshapecontainer {
  position: absolute;
  bottom: 20px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 33vw;  
  height: 33vh; 
}

.shape5 {
  position: relative; /* Make this the relative container */
  width: 100%;  /* Takes up 100% of the .shapeonshapecontainer */
  height: 100%; /* Takes up 100% of the .shapeonshapecontainer */
}

.shape6 {
  position: absolute;  /* Position relative to .shape5 */
  width: 30%;  /* 30% of .shape5 */
  height: 30%; /* 30% of .shape5 */
  top: 50%;    /* Center it vertically */
  left: 50%;   /* Center it horizontally */
  transform: translate(-50%, -50%); /* Align the center of shape 6 within shape 5 */
}
